:root {
 --font-style:Calibri, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-style);
    background-color:thistle;
    position: sticky;
    top: 0;
    color:black;
    }

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: var(--font-style);
    font-size: 16px;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    padding: 8px 25px;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    background-color: thistle;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('https://i.ibb.co/0KdX9n9/Image1.webp') no-repeat center/cover;
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right:27%;
}

.headings{
    font-family: var(--font-style);
    font-size: 48px;
    text-align: center;
    margin: 40px 0px;
}

/* About Me Section */
#about-me{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

#pic{
    display: flex;
}

#pic img{
    width: 575px;
    height: 400px;
}

#intro{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-family: var(--font-style);
}

#intro h2{
    font-size: 40px;
    margin-bottom: 20px;
} 

/* My Work Section */
#work{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing:border-box;
}

.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}

/* Contact Me Section */
#contact-me{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.row {
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border: 3px solid thistle ;
    margin: 10px;
    align-items: center;
    text-align: justify;
    border-radius: 15px;
    background: linear-gradient(to top, thistle 50%, white 50%);
    background-size: 100% 200%;
    transition: all;
}

.box:hover{
    background-position: left bottom;
    color: black;
    border: none;
    box-shadow: 0 0 20px thistle;
}