:root {
 --font-style:Calibri, sans-serif;
}

body {
    background-color: whitesmoke;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    padding: 10px;
    font-family: var(--font-style);
    background-color:thistle;
    color:black;
    }

.container {
    margin: 0 auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .flex {
    justify-content: space-between;
}

.header ul {
    display: flex;
    list-style-type: none;
}

.header a{
    color: purple;
    padding: 10px;
    margin: 0 5px;
}

/* 
.container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    font-family: var(--font-style);
    color: black;
    font-size: 15px;
    }

.sub-container-1  {
    flex:1
    }

.sub-container-2 {
    margin-bottom: 20px;
    font-size: 16px;
    }

.sub-container-3 ul li {
    list-style-type: none;
    text-align: center;
}

.sub-container h2 {
    margin-bottom: 20px;
    font-size: 36px;
}