:root {
 --font-style:Calibri, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-style);
    background-color: rgb(5, 5, 5);
    position: sticky;
    top: 0;
    color:white;
    }

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: var(--font-style);
    font-size: 16px;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20200530/pngtree-colorful-banner-red-and-yellow-background-image_337446.jpg') no-repeat center/cover;
}

.headings{
    font-family: var(--font-style);
    font-size: 48px;
    text-align: center;
    margin: 30px 0px;
}

.heading-contact{
    font-family: var(--font-style);
    font-size: 25px;
    text-align: center;
    margin: 40px 0px;
}

/* About Me Section */
#about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
}

#pic{
    display: flex;
    align-items: center;
}

#pic img{
    width: 40%;
    height: 40%;
}

#intro{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-family: var(--font-style);
}

#intro h2{
    font-size: 40px;
    margin-bottom: 20px;
} 

/* My Work Section */
#work{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing:border-box;
}

.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}

#image1{
    width: 71vw;
}


/* Contact Me Section */
#contact-me{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.row {
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 200px;
    border: 3px solid darkslateblue;
    margin: 10px;
    align-items: center;
    text-align: justify;
    border-radius: 15px;
    background: linear-gradient(to top, gray 50%, white 50%);
    background-size: 100% 200%;
    transition: all;
}

.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(167, 44, 167) 50%;
}

/* Mobile View */
@media only screen and (max-width: 600px) {
    .navbar {
      background-color: rgb(186, 224, 236);
    }
    #pic {
       width: 80%; 
    }

    .row{
        width: 80%;
    }
  }

  @media only screen and (max-width: 768px) {
    .navbar {
      background-color: rgb(170, 96, 106);
    }
    #pic {
       width: 75%; 
    }

    .row{
        width: 80%;
    }
  }

  @media only screen and (max-width: 376px) {
    .navbar {
        background-color: darkgrey;
    }

    .navbar ul li{
        flex-wrap: wrap;
    }
    
    #pic {
       width: 75%; 
    }

    .row{
        width: 75%;
    }
  }